/*----------------------------BBSのレイアウト用CSS----------*

     
/*----BODY背景--------*/
body{

background-color: rgba(224, 224, 224, 0.356);
}
/*--------------------------------h3タグの設定*/
h3 {
  display: flex;
  align-items: center;/* 縦位置の調整 */
  justify-content: center;/* 横位置の調整 */
}

h3::before,
h3::after {
  content: '';
  flex-grow: 0.05;/* 少数にする */
  height: 3px;
  background: black;
}

/* 見出しの文字と横棒の間隔を開ける */
h3::before {
  margin-right: 20px;
}

h3::after {
  margin-left: 20px;
}
/* pサイズ設定投稿のとこ */
p{
  font-size:15px;
}

/*--------------------------------コメントボックスの詳細情報の設定(時間、学年)------*/
.comment-info{
    margin-top: 5px;
    padding-top: 5px;
    border-top-color: #e7bf8bee;
    font-size: 12px;
    color: #666;

}

/*--------------------------------コメントボックスの設定(コメントの部分)------*/
.comment-text{
    font-size:15px;
    margin:6px;
    padding:6px;
   

}
/*--------------------------------コメントボックスの設定(コメントの部分)------*/
.comment-text-show{
  border-top:1px solid rgba(224, 224, 224, 0.356);
  font-size:20px;
  margin:6px;
  padding:6px;
 
}
/*--------------------------------コメントボックスの設定(大枠)------*/
.comment-box{
   
    border-radius: 10px;
    border: 1px solid #333333;
    border-bottom: 2px solid #e95014;
    box-shadow: 5px 5px 5px rgba(231, 229, 229, 0.884);
    padding: 10px 10px 10px 10px;
    margin: 15px 0px 15px 0px;
    background-color: white;
} 


/*---------------------------------formのコンテイナーの設定--------*/
.f-container {
    display: flex;
    justify-content: flex-end;
}
/*---------------------------------form-itemの設定--------*/
.f-item{
    margin:0px 5px;
    padding:0px 5px;
}
/*------------------------------画面下部の授業一覧の設定---------------*/
.class-list{
    font-size: 12px;
    color: #666;

}



/*------------------コメント画面の返信一覧の設定-------*/
.reply-box{
  border: 1px solid #333333;
  border-bottom: 2px solid #e95014;
  border-radius:10px;
  background-color:white;
  padding: 15px 15px 20px 15px;
  margin:15px 15px 10px 15px;
 
  
}
/*------------------コメント画面の返信ボックス（INPUTボックス）の設定-------*/
.reply-form-box{
  margin:10px;
  padding:50px;
  background-color:#bebebe98;
}


/*------------------リプライアイコンの設定-------*/
.reply-icon{
  color: #333333;
  font-size:15px;
}
.reply-icon:hover{
  color: #3490dc;
}


/*------------------機能タイトルのところの設定-------*/
.feature-title{

    min-width: 100%;
    height: 40px;
    margin: 20px;
    padding:20px;
}
.feature-title-1{
  background-color:white;
  display: inline-block;
  color: black;
  font-size: 8px;
  padding: 8 20 6;
  border-left: 3px solid #e95014;



}

.feature-title-1 a{
  font-size:20px;
}

.feature-title-1 a:hover{
  color: grey;
}


.feature-title-box{
padding: 40px 50px 20px 40px;


}
.list-inline-item a{
  color:black;
}

/*------------------コメントアイコンの設定-------*/
.comment-icon{
  background-color:white;
  color: #000000;
  font-size:15px;
  padding:5px;
  margin-top:10px;
}
.comment-icon:hover{
  background-color:#e95014;
  color: white;
}

/*******************************************------------------評価の設定-------*/
/*------------------コンテイナー横並びの設定-------*/
.evaluation-container{
  display: flex;

}

/*------------------アイテム間の間隔設定-------*/
.evaluation-item{
  margin:0px 50px;
  padding:25px 25px;
}
/*------------------授業名とオススメ度の星横並びの設定-------*/
.evaluation-text{
display: flex;
}
/*------------------授業名とオススメ度の星の大きさ設定-------*/
.evaluation-text p{
  margin:10px 15px;
  font-size:18px;
  }

  /*------------------授業名とオススメ度の星の大きさ設定-------*/
  .evaluation-message{
    font-size:20px;
    word-break: break-all;

  }

   /*------------------コンテンツの題目のフレーム設定-------*/
  .comment-box .title{
    background-color:rgba(224, 224, 224, 0.356);
    border-left:1px solid #e95014;
    margin:0px 20px;
    text-align: left;
    width:65px;
    font-size:15px;
  }

  /*------------------postアイコンの設定-------*/
.post-icon{
  color: white;
  font-size:15px;
}
.post-icon:hover{
  color:white;
}



  /*------------------コメント件数アイコンの設定-------*/
.comment-number{
  background-color:#81bdf5e3;
  border:1px solid #81bdf5e3;}



/*------------------”評価投稿の新規作成”のフォントサイズの設定-------*/
.font-size{
  font-size:15px;
}

    /*-----------------ボタンアイコンの設定-------*/
    .common-btn-ikkoue{
      margin:50px;
    }
  .common-btn{
    background-color:white;
    border:3px solid #e95014;
    padding:8px 40px;
    margin:25px 10px;
    color:black;
    border-radius: 20px;
  }

  .common-btn:hover{
    background-color:#e95014;
  }


   /*-----------------POSTアイコンの設定-------*/
.post-botton{
  background-color:#e95014;
  border:1px solid #e95014;
  color:grey;
  width:150px;
  height:35px;
  border-radius: 10px;
  padding:0px 10px;
  margin:0 0 0 0;

}
.post-botton:hover{
 
  background-color:white;
}
.post-botton:hover .post-icon{
  color:black;

}

/*--------------------------------------ジェネラルトップ-----------------*/


/*ジェネラルトップの科目タイトル設定*/
.general-top-title-frame{
  background-color:white;
  padding:5px 10px;
}
.general-top-title{
      font-size:40px;
      margin:5px 0px 20px 0px;
      /* border-bottom:1px solid #e95014; */
}

.subject-info-top{
  margin:px 2px 2px 15px;
  font-size:2px;
  border-left:3px solid #e95014;
  background-color:white;
}
.subject-info-contents{
  margin:5px 5px 5px 15px;
  padding:5px;
  font-size:15px;
  border-bottom:1px solid rgb(212, 212, 212);
}

.subject-info-top-frame{
  margin:0px 5px 3px 0px;
}
/*ジェネラルトップの科目タイトル設定*/
.subject-info-top-bbs{
  margin:5px 5px 15px 15px;
  padding:5px;
  font-size:15px;
  border-bottom:1px solid rgb(212, 212, 212);
}

/*ジェネラルトップの科目ごとコメントの設定*/
.subject-info-comment-top{
  font-size: 15px;
  border-left:5px solid #e95014;
}
.subject-info-comment-frame{
  padding:20px 0px;
  margin:20px 0px;
 
  
  
}
/*いいねフォームタグ星の設定*/
.input-range {
  display: none;
}
.range-group {
  position: relative;
  margin-bottom: 7px;
}
.range-group > a {
  display: inline-block;
  width: 20px;
  height: 20px;
}
.range-group > a:before {
  content: "\f005";
  font-family: "Font Awesome 5 Free";
  font-size: 20px;
  color: #aaa;
}
.range-group > a.on:before {
  content: "\f005";
  color: #fc3;
}

/*難しさフォームタグ星の設定*/
.input-range-d {
  display: none;
}
.range-group-d {
  position: relative;
  margin-bottom: 7px;
}
.range-group-d > a {
  display: inline-block;
  width: 20px;
  height: 20px;
}
.range-group-d > a:before {
  content: "\f567";
  font-family: "Font Awesome 5 Free";
  font-size: 20px;
  color: #aaa;
}
.range-group-d > a.on:before {
  content: "\f567";
  color: rgb(51, 54, 255);

}



/*いいねを星で表示する設定*/
.star-ratings-sprite {
  background: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/2605/star-rating-sprite.png") repeat-x;
  font-size: 0;
  height: 21px;
  line-height: 0;
  overflow: hidden;
  text-indent: -999em;
  width: 110px;
  margin:  auto;
  }
  .star-ratings-sprite-rating {
  background: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/2605/star-rating-sprite.png") repeat-x;
  background-position: 0 100%;
  float: left;
  height: 21px;
  display: block;
  margin:auto;
  }
/*タイトルと横の星表示する設定*/
  .title-star{
    display: flex;
  }
  .comment-box-form{
   
    border-radius: 10px;
    border: 1px solid #333333;
    border-bottom: 2px solid #e95014;
    box-shadow: 5px 5px 5px rgba(231, 229, 229, 0.884);
    padding: 10px 10px 10px 10px;
    margin: 15px 0px 15px 0px;
    background-color: #f8c3ae15;
} 

/*星の横の平均値設定*/

.star-average{
  font-size: 30px;
  color:black;
  margin:10px 0px 0px 10px;
}

.star-average-box{
  display: flex;
}
/*コメント数設定*/
.comment-kennsuu{
  color:black;
  font-size: 15px;
  margin:20px 0px 0px 0px;
}
.comment-kensuu-box{

}
/* 画面サイズ小さくしたらPOSTボタンがはみでたので修正　
    簡易的な修正　他にも修正する時に一気に変更してください*/
    /*************************
メディアクエリ設定 420~1024
*************************/
@media screen and (min-width: 0px) and (max-width: 990px) {

  .evaluation-text p {
    margin: 0px 10px;
}
  .comment-box p{
    font-size:4px;
  }
  .comment-box .title{
    width:45px;
    font-size:10px;
  }
  
}
/*************************
メディアクエリ設定 570~770
*************************/
@media screen and (min-width: 570px) and (max-width: 770px) {

  .post-botton{
    width:100px;
    padding:0px 0px;
    margin:0 0 0 0;

  }

}

@media screen and (min-width: 0px) and (max-width: 770px) {

  .feature-title-1 a{
    font-size:12px;
  }

  .comment-info{
    font-size:8px;
  }

}



