.comment-info{
    margin-top: 5px;
    padding-top: 5px;
    border-top: 1px dotted #e0e0e0;
    font-size: 12px;
    color: #666;
    
}
.comment-text{
    font-size:20px;
   

}
.comment-box{
    border: 1px solid #e0e0e0;
    border-radius: 3px;
    padding: 15px 15px 10px 15px;
    margin:15px 15px 10px 15px;
}
.f-container {
    display: flex;
    justify-content: flex-end;
}
.f-item{
    margin:0px 5px;
    padding:0px 5px;
}
.class-list{
    font-size: 12px;
    color: #666;

}
h3 {
    display: flex;
    align-items: center;/* 縦位置の調整 */
    justify-content: center;/* 横位置の調整 */
  }
  
  h3::before,
  h3::after {
    content: '';
    flex-grow: 0.05;/* 少数にする */
    height: 3px;
    background: black;
  }
  
  /* 見出しの文字と横棒の間隔を開ける */
  h3::before {
    margin-right: 20px;
  }
  
  h3::after {
    margin-left: 20px;
  }

