/*----------------------------------------------全画面で使っているCSS------------------------------------------------------*/

/*-----------------------------html全体の設定*/
html {
    height: 100%;
    width: 100%;
    font-size: 40%;
}

 
/*--------------------------一番上の余白の設定*/
header {
    width: 100%;
    left:0;
    top:0;
  z-index: 10;
  background-color:white;

}

  /*--------------------------------header設定*/
  .header-logo {
    margin: 0;
    float: left;
    padding-left: 15px;
    margin-top: 5px;
    letter-spacing: 0.1em;
    font-size:30px;
}
.nav ul {
    display: block;
    padding: 0;
    list-style: none;
    text-align: right;
    font-size: 0;
    position: relative;
    z-index: 100;
}
.nav ul li {
    text-align: center;
    display: inline-block;
}
nav{display: block;}

.nav-item{
    margin: 0;
    float: left;
    padding-left: 15px;
    margin-top: 5px;
    letter-spacing: 0.1em;
    font-size:30px;
}

.u2-global-navbar {
    min-width: 100%;
    background: #333;
    height: 50px;
    border-top: 1px solid #e95014;
    border-bottom: 1px solid #e95014;
}
.u2-header{
    background-color: white;
    padding: 15px 40px;
    height: 66px;
}
.u2-header__container-inner {
    position: relative;
    line-height: 1;
    color:black;
}
a .u2-header-logo {
    color:black;
    font-size:30px;
}

.u2-global-navbar ul {
    margin: 0;
}
.u2-global-navbar__links {
    border-top: 1px solid #002549;
}
.u2-global-navbar__link {
    display: block;
    color: #ffffff;
    font-size: 8px;
    padding: 8px 20px 6px ;
}
.u2-global-navbar__link a{
    color: white;
    text-decoration:none;
    font-size: 20px;
}
.nav-arrows{
    padding:0 10px;
}
.header-img-in{

    width: 700px;
    height: 250px;
    margin: 0 auto;
}
.header-img-frame{
    display:block;
    height:250px;
    width:100%;
    background-color:rgba(224, 224, 224, 0.356);
}
/*--------------------------------aタグの設定*/
a{
    color: white;
    text-decoration:none;
}
a:hover {
    color:white;
    text-decoration: none;
  }


/*--------------------------------フッターの設定*/
.footer-contents{
    background-color: #333;
    text-align: center;
    border-top: 1px solid #e95014;
    height:100px;
}

.footer-logo{

    text-align: center;
}
.footer-contents a{
    
    font-size: 30px;
    color: white;
    text-decoration: none;
}

/*----フッターリンクの設定----*/
.link-list{
    background-color: #333;
    display: flex;
    border-top: 1px solid #313130;
    border-left: 1px solid #313130;
    width: 100%;
    box-sizing: border-box;
    display: list-item;
    list-style: none;

}

.link-list a{
    font-size: 15px;
    padding: 10px 10px 10px 10px;
    margin-top: 0;
}

.link-list p{
    margin-bottom:0;
}
/*-----フッターリンク先の設定-----*/
.terms-text,
.beginners-text,
.content-text,
.privacy-text{
    font-size: 15px;
    line-height: 1.8;
    padding-top: 0;
    display: block;
    margin: 50px 200px 100px 100px;
}

.terms-text h1,
.beginners-text h1,
.content-text h1,
.privacy-text h1{
    font-size: 30px;
    color:#e95014;
    text-align: center;
    margin-bottom: 40px;
    padding: 70px 15px 0;
}

.terms-text h2,
.beginners-text h2,
.content-text h2,
.privacy-text h2 {
    color:#e95014;
    font-size: 20px;
    padding: 10px;
}

/*----------テキストエリアリサイズ禁止--------------*/
textarea {
    resize: none;
  }

/*************************
メディアクエリ設定 420~1024
*************************/
@media screen and (min-width: 420px) and (max-width: 1024px) {


    
    .header-img-in {
        width: 100%;
        height: 200px;
        margin: 0 auto;
    }

    .header-img-frame {
      
        height: 200px;
    }

}

/*************************
メディアクエリ設定 0〜420
*************************/
@media screen and (min-width: 0px) and (max-width: 420px) {


    /*ヘッダー下の画像サイズ調整*/
    .header-img-in {
        width: 100%;
        height: 200px;
    }

    .header-img-frame {

        height: 200px;
    }
    a {
        font-size: 15px;
    }

}



/*-----------------------------------広告用設定*/
.koukoku-box{
    margin-right:30px;
    margin-left:30px;
    padding-top:10px;
    padding-bottom:10px;
    border: 1px solid #002549;
}

/*-----------------------------------TOP掲示板の欄設定*/
.top-bbs-box{
    border-bottom: 2px solid #e95014;
    border-top: 1px solid #002549;
    padding:20px 0px 20px 0px;
    margin:15px 0px 15px 0px;
    background-color:white;
}

.top-bbs-item{
    margin:0px 5px;
    padding:0px 5px;
    font-size: 15px;
}
/*-----------------TOPページ掲示板欄の背景設定*/
.top-all-bbs-backgroundcolor{
    background-color:rgba(224, 224, 224, 0.356);
    padding:40px;
}


/*------------------TOPページ掲示板欄のタイトルに関する設定*/
.bbs-name{
    color:black;
}
.bbs-name:hover{
    color:grey;
}

/*---------------------------ページの一番上に戻るボタン設定*/
#page-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    font-size: 14px;
    line-height: 1;
    z-index: 99;
  }
  #page-top a {
    background: #6e6e6e;
    text-decoration: none;
    color: #fff;
    width: 60px;
    padding: 28px 5px;
    text-align: center;
    display: block;
    border-radius: 90px;
    opacity: 0.9;
    transition: all .3s ease;
  }
  #page-top a:hover {
    text-decoration: none;
    opacity: .5;
  }



/*----postアイコンの位置--*/
  .post-position{ margin: 14px 0px 0px 0px;
              padding: 10px;
}

/*----投稿フォーム設定--*/
.form-control {
    display: block;
    width: 100%;
    height: calc(1.6em + 0.75rem + 2px);
    padding: 0.375rem 0.75rem;
    font-size: 0.9rem;
    font-weight: 400;
    line-height: 1.6;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 2px solid #e95014;
    border-radius: 10px;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}