main{
  margin:100;
}
ul.week{
  font-size: 100px;
}
.section{
  color: black;
  background-color: rgba(224, 224, 224, 0.356);
}
.title-class{
  margin:30px;
  padding:10px;
}
.day{
  border: 2px solid black;
  border-radius: 10px;
  padding:5px 20px;
  margin:10 10 10 10;
}
.day:hover{
  border:2px solid #e95014;

}
.period-frame{
  border: 2px solid black;
  border-radius: 10px;
  padding:5px 20px;
  margin:30 10 10 10;
}
.period-frame:hover{
  border:2px solid #1458e9;
}




.period:hover{
  border:2px solid #e95014;

}
.subjectname{
  padding:5px;
  margin:10px;
  border-radius: 10px;
  border-bottom:2px solid #e95014;
  background-color:rgb(204, 204, 204);
}

/*曜日を真ん中に*/
.row1 {
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
  padding:0 0 30 0 ;
  margin:0 0 30 0 ;
}