a{
    color: white;
    text-decoration:none;
    font-size: 30px;
}
a:hover {
    color:white;
    text-decoration: none;
    
  }

.header-color{
    background-color: rgba(112, 45, 35, 0.719);
    height: 50px;
}
.img-sophia{
    height: auto;
    color: black;
    border-radius: 3px;
}

a.secList{
    color: black;
}
a.periodList{
    color: black;
}
/*slick setting*/
.slick-prev:before,
.slick-next:before {
    color: #000;
}

a.class-list{
    color:black;
    border-right-color: grey;
}
.all-class-info{
    background-color: rgba(224, 224, 224, 0.521);

    padding:40px;
}
.to-class{
    margin:20px;
    padding:20px;
}
h1.your-class{
    color:black;
    padding:10px;
    margin:10px;
}

.img-sophia:hover {
    transform: scale(0.8,0.8); /*画像の拡大*/
    cursor: pointer; /*カーソルをポインターにする*/
    border-radius: 20px;
    transition: 0.7s ease-in-out;
    }
.img-sophia-in:hover{
    transform: scale(0.8,0.8); /*画像の拡大*/
    cursor: pointer; /*カーソルをポインターにする*/
    border-radius: 20px;
    transition: 0.7s ease-in-out;
}

.header {
    width: 100%;
    min-width: 960px; 
  position: fixed;
    left:0;
 top:0;
  z-index: 10;
}

/*トップ戻るボタン設定*/
#page-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    font-size: 14px;
    line-height: 1;
    z-index: 99;
  }
  #page-top a {
    background: #6e6e6e;
    text-decoration: none;
    color: #fff;
    width: 60px;
    padding: 28px 5px;
    text-align: center;
    display: block;
    border-radius: 90px;
    opacity: 0.9;
    transition: all .3s ease;
  }
  #page-top a:hover {
    text-decoration: none;
    opacity: .5;
  }

  /*header設定*/
  .header-logo {
    margin: 0;
    float: left;
    padding-left: 15px;
    margin-top: 5px;
    letter-spacing: 0.1em;
    font-size:30px;
}
.nav ul {
    display: block;
    padding: 0;
    list-style: none;
    text-align: right;
    font-size: 0;
    position: relative;
    z-index: 100;
}
.nav ul li {
    text-align: center;
    display: inline-block;
}
nav{display: block;}

.nav-item{
    margin: 0;
    float: left;
    padding-left: 15px;
    margin-top: 5px;
    letter-spacing: 0.1em;
    font-size:30px;
}

